<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talkie</title>
    <link rel="stylesheet" href="socket.css">
    <link href="faceMocion.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="emoji.css" rel="stylesheet">
</head>
<body>

    <div class="preloader1" hidden></div>

     <div id="snow1"></div>
    <div id="snow2"></div>
    <div id="snow3"></div>
    <ul id="menu">
        <span id="dawn" style="color: white;" hidden>Global</span>
        <span id="rise" style="color: white;" hidden>Globall</span>

        <li id="tag" class="active" title="Home"><button id="home" class="fas fa-home"></button></li>
        <li id="tag" title="Redeem"><button id="rupee" class="fas fa-rupee-sign"></button></li>
        <li id="tag" title="Help"><button id="info" class="fas fa-question"></button></li>
        <li id="tag" title="Settings"><button id="setting" class="fas fa-tools"></button></li>
        <li id="tag" title="Logout"><form action="/logout" method="get" id="loggie"><button id="power" class="fas fa-power-off"></button></form></li>
        <li id="tag"><button id="image"></button></li>
    </ul>
    
    <span id="true" hidden></span>
    <button id="hide" class="fas fa-bars"></button><button id="hile" class="fas fa-ellipsis-h"></button>
    
    <!-- <form action="/logout" method="get">
        <button id="logout">Logout show </button>
        </form> -->
        
    <span id="manu" hidden>
        <button id="bg">Change Background Image
                <input type="file" id="background" accept="image/*" title="" />        
        </button>
        <button id="pfimg">Change Profile Picture<input type="file"  id="file" accept="image/*" /></button>
        <button id="changee">Change Password</button>
    </span>
        
    
<span id="alexa" hidden><span id="inside"><strong><span id="letter"></span></strong><button id="ok">OK</button></span></span>
        
        <span id="top"></span>
    <span id="roka"></span>
<span id="reward"></span>
   
    <span id="outside" hidden>
         <button id="closereward" class="fas fa-times"></button>
        <button id="redeem" hidden>50 Rupees PAYTM</button>
        <button id="more" class="fas fa-plus-circle">More to Come</button>
    </span>
<div id="parentsocket1">
    <button id="chatidin" hidden></button>
    <span id="cas1" hidden></span>
    <span id="cap12" hidden></span>
    <span id="cap11" hidden></span>
    <span id="casing1" hidden></span>
    <span id="caping12" hidden></span>
    <span id="caping11" hidden></span>

    <div contentEditable="true" hidefocus="true" data-text="Type your Text Here" hidden id="inpu"></div>
    <button id="selece" class="fas fa-smile" hidden>
        <div class="emoji-menwd" data-id="f3afe3ae-6b20-446d-b7af-4c2c0a8ebabd" data-type="menu" style="z-index: 5003; display: none;" ><div class="emoji-items-wrapping"><div class="emoji-items-wrapsw">
        <div class="emoji-itemss">
    <a href="javascript:void(0)" title=":gift_heart:"><img src="../lib/img//blank.gif" class="img" id="gift_heart" style="display:inline-block;width:25px;height:25px;background-size:825px 175px;" alt=":gift_heart:"></a><a href="javascript:void(0)" title=":kissing_heart:"><img src="../lib/img//blank.gif" class="img" id="kissing_heart" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":kissing_heart:"></a><a href="javascript:void(0)" title=":heart_eyes:"><img src="../lib/img//blank.gif" class="img" id="heart_eyes" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":heart_eyes:"></a><a href="javascript:void(0)" title=":joy:"><img src="../lib/img//blank.gif" class="img" id="joy" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":joy:"></a><a href="javascript:void(0)" title=":heart:"><img src="../lib/img//blank.gif" class="img" id="heart" style="display:inline-block;width:25px;height:25px;;background-size:675px 175px;" alt=":heart:"></a><a href="javascript:void(0)" title=":blush:"><img src="../lib/img//blank.gif" class="img" id="blush" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":blush:"></a><a href="javascript:void(0)" title=":grin:"><img src="../lib/img//blank.gif" class="img" id="grin" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":grin:"></a><a href="javascript:void(0)" title=":+1:"><img src="../lib/img//blank.gif" class="img" id="plus" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":+1:"></a><a href="javascript:void(0)" title=":relaxed:"><img src="../lib/img//blank.gif" class="img" id="relaxed" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":relaxed:"></a><a href="javascript:void(0)" title=":pensive:"><img src="../lib/img//blank.gif" class="img" id="pensive" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":pensive:"></a><a href="javascript:void(0)" title=":smile:"><img src="../lib/img//blank.gif" class="img" id="smile" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":smile:"></a><a href="javascript:void(0)" title=":sob:"><img src="../lib/img//blank.gif" class="img" id="sob" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":sob:"></a><a href="javascript:void(0)" title=":kiss:"><img src="../lib/img//blank.gif" class="img" id="kiss" style="display:inline-block;width:25px;height:25px;;background-size:675px 175px;" alt=":kiss:"></a><a href="javascript:void(0)" title=":unamused:"><img src="../lib/img//blank.gif" class="img" id="unamused" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":unamused:"></a><a href="javascript:void(0)" title=":flushed:"><img src="../lib/img//blank.gif" class="img" id="flushed" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":flushed:"></a><a href="javascript:void(0)" title=":stuck_out_tongue_winking_eye:"><img src="../lib/img//blank.gif" class="img" id="stuck_out_tongue_winking_eye" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":stuck_out_tongue_winking_eye:"></a><a href="javascript:void(0)" title=":see_no_evil:"><img src="../lib/img//blank.gif" class="img" id="see_no_evil" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":see_no_evil:"></a><a href="javascript:void(0)" title=":wink:"><img src="../lib/img//blank.gif" class="img" id="wink" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":wink:"></a><a href="javascript:void(0)" title=":smiley:"><img src="../lib/img//blank.gif" class="img" id="smiley" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":smiley:"></a><a href="javascript:void(0)" title=":cry:"><img src="../lib/img//blank.gif" class="img" id="cry" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":cry:"></a><a href="javascript:void(0)" title=":stuck_out_tongue_closed_eyes:"><img src="../lib/img//blank.gif" class="img" id="stuck_out_tongue_closed_eyes" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":stuck_out_tongue_closed_eyes:"></a><a href="javascript:void(0)" title=":scream:"><img src="../lib/img//blank.gif" class="img" id="scream" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":scream:"></a><a href="javascript:void(0)" title=":rage:"><img src="../lib/img//blank.gif" class="img" id="rage" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":rage:"></a><a href="javascript:void(0)" title=":smirk:"><img src="../lib/img//blank.gif" class="img" id="smirk" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":smirk:"></a><a href="javascript:void(0)" title=":disappointed:"><img src="../lib/img//blank.gif" class="img" id="disappointed" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":disappointed:"></a><a href="javascript:void(0)" title=":sweat_smile:"><img src="../lib/img//blank.gif" class="img" id="sweat_smile" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":sweat_smile:"></a><a href="javascript:void(0)" title=":kissing_closed_eyes:"><img src="../lib/img//blank.gif" class="img" id="kissing_closed_eyes" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":kissing_closed_eyes:"></a><a href="javascript:void(0)" title=":speak_no_evil:"><img src="../lib/img//blank.gif" class="img" id="speak_no_evil" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":speak_no_evil:"></a><a href="javascript:void(0)" title=":relieved:"><img src="../lib/img//blank.gif" class="img" id="relieved" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":relieved:"></a><a href="javascript:void(0)" title=":grinning:"><img src="../lib/img//blank.gif" class="img" id="grinning" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":grinning:"></a><a href="javascript:void(0)" title=":yum:"><img src="../lib/img//blank.gif" class="img" id="yum" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":yum:"></a><a href="javascript:void(0)" title=":ok_hand:"><img src="../lib/img//blank.gif" class="img" id="ok_hand" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":ok_hand:"></a><a href="javascript:void(0)" title=":neutral_face:"><img src="../lib/img//blank.gif" class="img" id="neutral_face" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":neutral_face:"></a><a href="javascript:void(0)" title=":confused:"><img src="../lib/img//blank.gif" class="img" id="confused" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":confused:"></a><a href="javascript:void(0)" title=":japanese_goblin:"><img src="../lib/img//blank.gif" class="img" id="japanese_goblin" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":japanese_goblin:"></a><a href="javascript:void(0)" title=":ghost:"><img src="../lib/img//blank.gif" class="img" id="ghost" style="display:inline-block;width:25px;height:25px;background-size:825px 175px;" alt=":ghost:"></a><a href="javascript:void(0)" title=":smiling_imp:"><img src="../lib/img//blank.gif" class="img" id="smiling_imp" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":smiling_imp:"></a><a href="javascript:void(0)" title=":ok_hand:"><img src="../lib/img//blank.gif" class="img" id="ok_hand" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":ok_hand:"></a><a href="javascript:void(0)" title=":v:"><img src="../lib/img//blank.gif" class="img" id="ve" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":v:"></a><a href="javascript:void(0)" title=":pray:"><img src="../lib/img//blank.gif" class="img" id="pray" style="display:inline-block;width:25px;height:25px;background-size:675px 175px;" alt=":pray:"></a></div></div></div></div>
    <div id="emoji-arrow"></div>
    </button>
    <!-- <input type="text" value="amo" class="facemocion"/> -->
    <input type="file" id="myImageu" hidden>
    <button id="btnu" type="submit" hidden></button>
    <button id="attachement" hidden></button>
    
    <!-- <div id="show" hidden></div> -->
    
    <span id="lengthy">
        <ul id="result1"> </ul>
    </span>
    
    
    <div id="user">
        <span id="hello">Hello</span>
        <span id="Registery"><%= name %></span>
    </div>
</div>

<div id="box" style="display:<%= stop %>" >
        <button id="first" class="button" <%= box1 %>>5</button>
        <button id="second" class="button" <%= box2 %>>5</button>
        <button id="third" class="button" <%= box3 %>>10</button>
        <button id="fourth" class="button" <%= box4 %>>10</button>
        <button id="fifth" class="button" <%= box5 %>>15</button>
        <button id="sixth" class="button" <%= box6 %>>20</button>
        <button id="seventh" class="button" <%= box7 %>>25</button>
   </div>


   <div id="parentpassword" hidden>
    <div id="childpassword">
            <!-- <a href="/auth/facebook"><button id="fbreg"><img id="fbb" src="nf/signup-with-facebook-button.png"></button></a> -->
            <button id="close2"><img src="nf/cancel-music.png" id="img4"></button>
            <div id="oldie">Old Password</div><span id="alerting"></span>
            <input type="text" name="username" id="oldbox" placeholder="Enter Your Old Password" autocomplete="off">
            <div id="newie">New Password</div>
            <input id="newbox" type="password" name="password" placeholder="Password">
            <div id="confirmie">Confirm Password:</div>
            <input id="confirmiebox" placeholder="Re-enter the Pasword " type="password" >
            <span id="alertpas"></span>
            <button id="confirmbox">Confirm</button>
    </div>
</div>
<!-- <div id="profilepic">
        <div id="image">
                <div id="changepic">Change Profile Pic<input type="file"  id="file"></div> 
        </div>
</div> -->

<span id="lets" hidden><span id="inn"><span id="lettere">Let's Take A Short Tour</span><button id="start">Let's Start</button><button id="skip">Skip</button>
</span></span>

<span id="lets1" hidden><span id="inn" ><span id="lettere">This is Your Login Points..</span><button id="next">Next</button><button id="skip1">Skip</button>
</span></span>

<span id="lets2" hidden><span id="inn"><span id="lettere">You can Reedem Points By Clicking This</span><button id="next1">Next</button><button id="skip2">Skip</button>
</span></span>

<span id="lets3" hidden><span id="inn1" ><span id="lettere">Daily Login Reward Can be Redeem Only In Between 10 A.M-11 A.M</span><button id="next2">Next</button><button id="skip3">Skip</button>
</span></span>

<span id="lets4" hidden><span id="inn" ><span id="lettere">Any More Queries..You can Ask Admin Directly</span><button id="skip4">Let's Go</button>
</span></span>

<span id="rightthumb" class="fas fa-hand-point-right" style="display: none;"></span>
<span id="leftthumb" class="fas fa-hand-point-left" style="display: none;"></span>

<div id="parentmobile" hidden>
    <div id="childmobile">
            <div id="moble">Enter Your Mobile Number..</div>
            <input type="text" id="moblebox" autocomplete="off">
            <button id="okmoble">OK</button>
    </div>
</div>

<div id="list" >
    <ul id="room" style="-webkit-padding-start: 0;">
        </ul>
    <button id="prop" hidden><img src="nf/chevron-up.png" id="up"></button>
    <button id="profile"><img src="nf/chevron-up.rotated.png" id="up"></button>
</div>

    <span id="frndlist">Friend List</span>
    <ul id="fff">
    </ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--  <script src="faceMocion.js"></script> -->
<script src="app.js"></script>
<!-- <script src="app.js"></script> -->
</body>
</html>